<h1 class="title">Envio de Arquivo</h1>
<hr/>

<div class="alert alert-error" ng-show="error">
  {{errorMessage}}
</div>

<div class="well">
	<dl class="dl-horizontal">
		<dt>Área:</dt><dd>{{area}} m²</dd>
		<dt>Preço Calculado:</dt><dd>R$ {{preco}}</dd>
	</dl>
</div>

<form class="form-horizontal">
  
	<div class="control-group">
		<label class="control-label" for="arquivo">
			Entre com o conteúdo do arquivo:
		</label>
		<div class="controls">
			<textarea id="arquivo" required="required" rows="10" style="width:600px" ng-model="arquivo"></textarea>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<a class="btn btn-large btn-primary" ng-click="salvar()">
				<i class="icon-upload icon-white"></i> Enviar
			</a>
		</div>
	</div>

</form>